[user]
  email = kaile256acc@gmail.com
  name = kaile256
[core]
  editor = nvr --remote-wait-silent
[diff]
  tool = nvr
[difftool "nvr"]
  cmd = nvr -s -d $LOCAL $REMOTE
[merge]
  tool = nvr
[mergetool "nvr"]
  cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[url "github:"]
  # limited to push; conflicted with cargo
  # 'pushInsteadOf = https://github.com/' to :Gpush of vim-fugitive at least.
  # 'InsteadOf = https://github.com/' to install private plugins by dein.vim.
  InsteadOf = https://github.com/
  # TODO: need config for ghq get foo/bar inspite of cargo install foobar.
  #InsteadOf = git@github.com:
[ghq]
  root = /home/kaile256/.go/src
