[user]
  email = kaile256acc@gmail.com
  name = kaile256
[core]
  editor = nvr --remote-wait-silent
[diff]
  tool = nvr
[difftool "nvr"]
  cmd = nvr -s -d $LOCAL $REMOTE
[merge]
  tool = nvr
[mergetool "nvr"]
  cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
#[url "github:"]
# conflicts with cargo
#  InsteadOf = https://github.com/
#  InsteadOf = git@github.com:
