tmp/
node_modules/
yarn/
.mypy_cache/
GPATH
GRTAGS
GTAGS
tags
*hist*
*.log
.zplugin/
log/
dbus/
spell/**
.vmail/

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~

# Persistent undo
[._]*.un~
