! Note: read this file by xrdb

!twm &
!xclock -geometry 50x50-1+1 &

Xcursor.theme: Bibata Oil

!#include ".Xresources.d/font"

! Colorscheme {{{1
! Neodark
#define _fg        #bcbcbc
#define _bg        #AE8785
#define _black     #263A45
#define _red       #DC657D
#define _green     #84B97C
#define _yellow    #D4B261
#define _blue      #639EE4
#define _magenta   #B888E2
#define _cyan      #72C7D1
#define _white     #C7C18B
#define br_black   #af8787
#define br_red     #d75f87
#define br_green   #87af87
#define br_yellow  #d7af5f
#define br_blue    #5fafd7
#define br_magenta #af87d7
#define br_cyan    #5fd7d7
#define br_white   #d7af87

!! Solarized (or flattened)
!#define _black     #073642
!#define _red       #dc322f
!#define _green     #859900
!#define _yellow    #b58900
!#define _blue      #268bd2
!#define _magenta   #d33682
!#define _cyan      #2aa198
!#define _white     #eee8d5
!#define br_black   #002b36
!#define br_red     #cb4b16
!#define br_green   #586e75
!#define br_yellow  #657b83
!#define br_blue    #839496
!#define br_magenta #6c71c4
!#define br_cyan    #93a1a1
!#define br_white   #fdf6e3
!#define _fg        #ebdbb2
!#define _bg        #282828

! Colors for XTerm {{{1
! Use black in background
XTerm*reverseVideo: on
XTerm*borderWidth: 0

! [100]: 100% itself; background is completely itself
! [0]:   0% itself; fake-background
XTerm.foreground: _fg
XTerm.background: _bg

XTerm.color0:  _black
XTerm.color1:  _red
XTerm.color2:  _green
XTerm.color3:  _yellow
XTerm.color4:  _blue
XTerm.color5:  _magenta
XTerm.color6:  _cyan
XTerm.color7:  _white
XTerm.color8:  br_black
XTerm.color9:  br_red
XTerm.color10: br_green
XTerm.color11: br_yellow
XTerm.color12: br_blue
XTerm.color13: br_magenta
XTerm.color14: br_cyan
XTerm.color15: br_white

!! Forbid bold font faces; bold type is light blue.
!XTerm*colorBDMode: true
!XTerm*colorBD: rgb:82/a4/d3
!! Do not underscore text, underlined text is white.
!XTerm*colorULMode: true
!XTerm*colorUL: rgb:e4/e4/e4

! Colors for URxvt {{{1

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
! Note: apply the opacity on color config in `[]`
! Note: work on a window-manager
!       which supports a composite-manager like xcompmgr or picom
! Note: keep 'depth' 32
!URxvt.depth: 32

! [100]: 100% itself; background is completely itself
! [0]:   0% itself; fake-background
URxvt.color0:  [90]_black
URxvt.color1:  [90]_red
URxvt.color2:  [90]_green
URxvt.color3:  [90]_yellow
URxvt.color4:  [90]_blue
URxvt.color5:  [90]_magenta
URxvt.color6:  [90]_cyan
URxvt.color7:  [90]_white
URxvt.color8:  [90]br_black
URxvt.color9:  [90]br_red
URxvt.color10: [90]br_green
URxvt.color11: [90]br_yellow
URxvt.color12: [90]br_blue
URxvt.color13: [90]br_magenta
URxvt.color14: [90]br_cyan
URxvt.color15: [90]br_white
!URxvt.foreground:  [90]#ebdbb2
!URxvt.background:  [90]#282828
URxvt.foreground: [90]_white
URxvt.background: [70]_black

!! Italic/Bold/UnderLine
!URxvt.colorIT:     [90]#8ec07c
!URxvt.colorBD:     [90]#fe8019
!URxvt.colorUL:     [90]#83a598

!URxvt.scrollColor: [90]#504945
!URxvt.troughColor: [90]#3C3836  ! bg-color for scrollbar.

! Font {{{1
!! Ref for fonts on each system: http://malkalech.com/xresources_magic#i-7

! Note: Meslo inserts wider blanklines within lines.
!#define FONT_NAME DejaVuSansMono Nerd Font
#define FONT_NAME Meslo LG S DZ for Powerline
#define FONT_SIZE 13
#define FONT_OPT  size=FONT_SIZE:antialias=true
#define FONT      xft:FONT_NAME:FONT_OPT

!#define FONTW_NAME Migu1M
!#define FONTW_SIZE 15
!#define FONTW_OPT  size=FONT_SIZEW:antialias=true
!#define FONTW      xft:FONT_NAMEW:FONT_OPT

#ifndef FONTW
  #define FONT_SET FONT
  #define FONTW FONT
#else
  #define FONT_SET FONT,FONTW
#endif

URxvt.font: FONT_SET

XTerm*faceName:           FONT
XTerm*faceNameDoublesize: FONTW
XTerm*faceSize:           FONT_SIZE

!URxvt.font: xft:NAME_FONT:size=SIZE_FONTW:antialias=true,NAME_FONTW:size=12:antialias=true
!XTerm*faceName: xft:MesloLGS Nerd Font:size=14:antialias=true
!XTerm*faceNameDoublesize: xft:Migu 1M
!XTerm*faceSize: 14

! URxvt {{{1
! Ref:
!   Ctrl+Shift is a shortcut to input any Unicode character like <C-v> in vim
!   https://www.reddit.com/r/urxvt/comments/35x03n/if_youve_been_vexed_by_urxvts_picture_insert_mode/
URxvt.iso14755: false
URxvt.iso14755_52: false

! Ref: https://unix.stackexchange.com/questions/294337/rebinding-ctrl-alt-cv-to-ctrl-shift-cv-in-urxvt-9-20/329556#329556
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Disable keybinds with `builtin-string:`
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.termName: rxvt-unicode

! Window-Size (default: 80x24)
!URxvt.geometry:             96x32

! Scroll-Bar
URxvt.scrollBar_right:      false
! true: no background (= no floating) on scrollbar.
URxvt.scrollBar_floating:   false
URxvt.scrollstyle:          plain

URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
! true: Hide the pointer on typing keyboard
URxvt.pointerBlank:         true

URxvt.visualBell:           false
URxvt.saveLines:            3000

!! 'transparent': only in fake; for true one, use 'depth'
!!                adjust by 'shading'
!URxvt.transparent: true
!URxvt.shading: 70

! Fading if not focused (%)
! i.e., Transparency
!URxvt.fading: 100

! Font list and Spacing
URxvt.allow_bold: true
URxvt.kanji_encoding: UTF-8

!URxvt.font: xft:SF Mono:size=13:antialias=true,xft:Icons:size=14:antialias=true,xft:MesloLGSDZ Nerd Font:size=14:antialias=true,Migu 1M:size=12:antialias=true
! Note: letterSpace in negative nr. removes exagerated spaces; esp. for Japanese Fonts.
URxvt.letterSpace:          -1
!URxvt.lineSpace:            2  ! expand space between command-lines.

! EXTENTION
! CAUTION: spare extra extentions to save RAM.
!URxvt.perl-ext:
!URxvt.perl-ext-common:

! XTerm {{{1
XTerm*termName: xterm-256color
!exec xterm -geometry 80x66+0+0 -name login
!xterm -geometry 80x50+494+51 &
!xterm -geometry 80x20+494-0 &

XTerm*scrollBar:    False
XTerm*cursorBlink: True

! Fonts and Encoding
XTerm*utf8:      True
XTerm*locale:    True
XTerm*utf8Title: True

! scaleHeight: the height between line and line
!   (available: 0.9 ~ 1.5; default: 1.0)
XTerm*scaleHeight: 1.08
! cjk: Chinese, Japanese, Korean
XTerm*cjkWidth : True

! Use Alt-key
XTerm*metaSendsEscape: True

! Use black in background
XTerm*reverseVideo: on
XTerm*borderWidth: 0

! Colorscheme: Neodark
! [100]: 100% itself; background is completely itself
! [0]:   0% itself; fake-background
XTerm.color0:      #AE8785    /* black          */
XTerm.color1:      #DC657D    /* red            */
XTerm.color2:      #84B97C    /* green          */
XTerm.color3:      #D4B261    /* yellow         */
XTerm.color4:      #639EE4    /* blue           */
XTerm.color5:      #B888E2    /* magenta        */
XTerm.color6:      #72C7D1    /* cyan           */
XTerm.color7:      #C7C18B    /* white          */
XTerm.color8:      #af8787    /* bright black   */
XTerm.color9:      #d75f87    /* bright red     */
XTerm.color10:     #87af87    /* bright green   */
XTerm.color11:     #d7af5f    /* bright yellow  */
XTerm.color12:     #5fafd7    /* bright blue    */
XTerm.color13:     #af87d7    /* bright magenta */
XTerm.color14:     #5fd7d7    /* bright cyan    */
XTerm.color15:     #d7af87    /* bright white   */
!XTerm.foreground:  #ebdbb2
!XTerm.background:  #282828
XTerm.foreground:  white
XTerm.background:  black

! Window Manager {{{1
!exec qtile
!exec i3 -V >> ~/.local/share/i3/i3log-$(date +'%F-%k-%M-%S') 2>^1

