! Note: read this file by xrdb

!twm &
!xclock -geometry 50x50-1+1 &

! URxvt {{{1
URxvt.termName: rxvt-unicode

! Window-Size (default: 80x24)
!URxvt.geometry:             96x32

! Scroll-Bar
URxvt.scrollBar_right:      false
! true: no background (= no floating) on scrollbar.
URxvt.scrollBar_floating:   false
URxvt.scrollstyle:          plain

URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
! true: Hide the pointer on typing keyboard
URxvt.pointerBlank:         true

URxvt.visualBell:           false
URxvt.saveLines:            3000

!!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
! [100]: 100% itself; background is completely itself
! [0]:   0% itself; fake-background
URxvt.depth: 50
!! 'transparent': only in fake; for true one, use 'depth'
!!                adjust by 'shading'
URxvt.transparent: true
URxvt.shading: 70
! Fading if not focused (%)
! i.e., Transparency
URxvt.fading:               100

! Font list and Spacing
URxvt.allow_bold: true
URxvt.kanji_encoding: UTF-8

URxvt.font:                 xft:SF Mono:size=13:antialias=true
!URxvt.font:                 xft:Dejavu Sans Mono:size=12:antialias=true,xft:MyricaM M:size=14:antialias=true
! Note: letterSpace in negative nr. removes exagerated spaces; esp. for Japanese Fonts.
URxvt.letterSpace:          -1
!URxvt.lineSpace:            2  ! expand space between command-lines.

!! Colorscheme: Solarized (or flattened)
!URxvt.color0:      [90]#073642    /* black          */
!URxvt.color1:      [90]#dc322f    /* red            */
!URxvt.color2:      [90]#859900    /* green          */
!URxvt.color3:      [90]#b58900    /* yellow         */
!URxvt.color4:      [90]#268bd2    /* blue           */
!URxvt.color5:      [90]#d33682    /* magenta        */
!URxvt.color6:      [90]#2aa198    /* cyan           */
!URxvt.color7:      [90]#eee8d5    /* white          */
!URxvt.color8:      [90]#002b36    /* bright black   */
!URxvt.color9:      [90]#cb4b16    /* bright red     */
!URxvt.color10:     [90]#586e75    /* bright green   */
!URxvt.color11:     [90]#657b83    /* bright yellow  */
!URxvt.color12:     [90]#839496    /* bright blue    */
!URxvt.color13:     [90]#6c71c4    /* bright magenta */
!URxvt.color14:     [90]#93a1a1    /* bright cyan    */
!URxvt.color15:     [90]#fdf6e3    /* bright white   */
!!URxvt.foreground:  [90]#ebdbb2
!!URxvt.background:  [90]#282828
!URxvt.foreground:  [90]white
!URxvt.background:  [90]black

! Colorscheme: Neodark
URxvt.color0:      [90]#AE8785    /* black          */
URxvt.color1:      [90]#DC657D    /* red            */
URxvt.color2:      [90]#84B97C    /* green          */
URxvt.color3:      [90]#D4B261    /* yellow         */
URxvt.color4:      [90]#639EE4    /* blue           */
URxvt.color5:      [90]#B888E2    /* magenta        */
URxvt.color6:      [90]#72C7D1    /* cyan           */
URxvt.color7:      [90]#C7C18B    /* white          */
URxvt.color8:      [90]#af8787    /* bright black   */
URxvt.color9:      [90]#d75f87    /* bright red     */
URxvt.color10:     [90]#87af87    /* bright green   */
URxvt.color11:     [90]#d7af5f    /* bright yellow  */
URxvt.color12:     [90]#5fafd7    /* bright blue    */
URxvt.color13:     [90]#af87d7    /* bright magenta */
URxvt.color14:     [90]#5fd7d7    /* bright cyan    */
URxvt.color15:     [90]#d7af87    /* bright white   */
!URxvt.foreground:  [90]#ebdbb2
!URxvt.background:  [90]#282828
URxvt.foreground:  [90]white
URxvt.background:  [90]black

!! Italic/Bold/UnderLine
!URxvt.colorIT:     [90]#8ec07c
!URxvt.colorBD:     [90]#fe8019
!URxvt.colorUL:     [90]#83a598

!URxvt.scrollColor: [90]#504945
!URxvt.troughColor: [90]#3C3836  ! bg-color of scrollbar.

! EXTENTION
! CAUTION: spare extra extentions to save RAM.
!URxvt.perl-ext:
!URxvt.perl-ext-common:

! XTerm {{{1
XTerm*termName: xterm-256color
!exec xterm -geometry 80x66+0+0 -name login
!xterm -geometry 80x50+494+51 &
!xterm -geometry 80x20+494-0 &

Term*scrollBar: False
XTerm*cursorBlink: True

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*faceName: xft:DejaVu Sans Mono
XTerm*faceNameDoublesize: xft:Ricty Nerd Font
XTerm*faceSize: 6
XTerm*scaleHeight: 1.08

!! Color Scheme : Tomorrow Night
!! https://github.com/chriskempson/tomorrow-theme

XTerm*background: #1D1F21
XTerm*foreground: #C5C8C6
! black
XTerm*color0: #282A2E
XTerm*color8: #373B41
! red
XTerm*color1: #A54242
XTerm*color9: #CC6666
! green
XTerm*color2: #8C9440
XTerm*color10: #B5BD68
! yellow
XTerm*color3: #DE935F
XTerm*color11: #F0C674
! blue
XTerm*color4: #5F819D
XTerm*color12: #81A2BE
! magenta
XTerm*color5: #85678F
XTerm*color13: #B294BB
! cyan
XTerm*color6: #5E8D87
XTerm*color14: #8ABEB7
! white
XTerm*color7: #707880
XTerm*color15: #C5C8C6

! Window Manager {{{1
!exec qtile
!exec i3 -V >> ~/.local/share/i3/i3log-$(date +'%F-%k-%M-%S') 2>^1

