! Note: read this file by xrdb
! Note: `xrdb -query -all` to get current config.

!twm &
!xclock -geometry 50x50-1+1 &

Xcursor.theme: Bibata Oil

#include ".Xresources.d/keys"
#include ".Xresources.d/fonts"
#include ".Xresources.d/colorschemes"

! Colors for XTerm {{{1
! Use black in background
XTerm*reverseVideo: on
XTerm*borderWidth: 0

! Opacity/Transparency:
! Set 'depth' to 32, with a composite-manager like `xcompmgr` or `picom`.
! For fake transparecy instead, use 'transparent'.
! Note: Apply the opacity at color config in `[]`.
URxvt.depth: 32
!! 'transparent' only in fake; adjust the percentage with 'shading'
!URxvt.transparent: true
!URxvt.shading: 70
!! Fade (in percentage) the other windows, which gets no focus.
!URxvt.fading: 100

! Keybinds {{{1
! Use Alt-key
XTerm*metaSendsEscape: True

! Ctrl+Shift is a shortcut to input any Unicode character like <C-v> in vim
! https://www.reddit.com/r/urxvt/comments/35x03n/if_youve_been_vexed_by_urxvts_picture_insert_mode/
URxvt.iso14755: false
URxvt.iso14755_52: false

! https://unix.stackexchange.com/questions/294337/rebinding-ctrl-alt-cv-to-ctrl-shift-cv-in-urxvt-9-20/329556#329556
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! Disable keybinds with `builtin-string:`
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! Misc. for XTerm {{{1
XTerm*termName: xterm-256color
!exec xterm -geometry 80x66+0+0 -name login
!xterm -geometry 80x50+494+51 &
!xterm -geometry 80x20+494-0 &

XTerm*scrollBar:   false
XTerm*cursorBlink: true

! Misc. for URxvt {{{1
URxvt.termName: rxvt-unicode

! Window-Size (default: 80x24)
!URxvt.geometry:             96x32

! Scroll-Bar
URxvt.scrollBar_right:    false
! true: no background (= no floating) on scrollbar.
URxvt.scrollBar_floating: false
URxvt.scrollstyle:        plain

URxvt.cursorBlink:        true
URxvt.cursorUnderline:    true
! true: Hide the pointer on typing keyboard
URxvt.pointerBlank:       true

URxvt.visualBell:         false
URxvt.saveLines:          3000

! Extentions
! CAUTION: spare extra extentions to save RAM.
!URxvt.perl-ext:
!URxvt.perl-ext-common:
