# From: dein/dein.vim
# Ref: git.toml

[[plugins]]
repo = 'tpope/vim-fugitive'
# WARNING: for the case to compare only commits,
#          keep such functions private, which close all '.git/' or 'fugitive://'
# to activate branch feature on airline, load it on VimEnter
on_event = ['VimEnter']
hook_add = 'runtime add/fugitive.vim'
hook_source = 'runtime source/fugitive.vim'
hook_post_source = 'runtime post/fugitive.vim'
hook_done_update = '''
e $DEIN_GITHUB_DIR/tpope/vim-fugitive/autoload/fugitive.vim
g;P for :Git add/reset --patch, 1p for :pedit;s/v:count/1
write
'''
#fugitive_git_gitrebase  = 'runtime add/fugitive.gf.vim'

#[ Branch ]
#[[plugins]]
#repo = 'kaile256/vim-merginal'
##repo = 'idanarye/vim-merginal'
## Note: twiggy is better.
#on_cmd = ['Merginal', 'MerginalToggle']
#hook_add = 'runtime add/merginal.vim'
#hook_done_update = '''
#e $DEIN_GITHUB_DIR/idanarye/vim-merginal/plugin/merginal.vim
#%s/-nargs=0/-bar/e
#write
#e $DEIN_GITHUB_DIR/idanarye/vim-merginal/autoload/merginal/buffers/branchList.vim
#v/'<cr>',/g/'cc',/norm! nEa '<cr>',
#write
#'''

[[plugins]]
repo = 'sodapopcan/vim-twiggy'
# CAUTION: useless if &shell=fish
# Note: improperly save buffers.
# Note: no features to browse commit history;
#   gv.vim or gitv are recommended for the use
type = 'git'
on_cmd = 'Twiggy'
hook_add = 'runtime add/twiggy.vim'
hook_source = 'runtime source/twiggy.vim'

#[ Commit Log Viewer ]
[[plugins]]
repo = 'gregsexton/gitv'
on_cmd = ['Gitv']
hook_add = 'runtime add/gitv.vim'
hook_source = 'runtime source/gitv.vim'

#[[plugins]]
#repo = 'rbong/vim-flog'
## Cons: unnecessary trailing spaces and too heavy to preview
## Pros: as default, the date of update is written on top of lines
#on_cmd = 'Flog'
#hook_source = 'runtime source/flog.vim'

#[[plugins]]
#repo = 'junegunn/gv.vim'
## Cons: no colors on tree of branches as default
## ':GV!' for the current file; ':GV?' shows in location-list
#type = 'git'
#on_cmd = ['GV']
#
#[[plugins]]
#repo = 'int3/vim-extradite'
#type = 'git'
## Also provides diff viewer.
## Momo: on_cmd doesn't work.
##on_cmd = 'Extradite'
#on_event = 'BufRead'
#hook_add = 'runtime add/extradite.vim'

#[ Hundlers to Gbrowse ]
#[[plugins]]
#repo = 'tpope/vim-rhubarb'
## ':Gbrowse' for github.vom
#type = 'git'
## Note: ':Gbrowse' will be overrided in plugin/ of vim-fugitive
##on_cmd = ['Gbrowse']
#on_source = ['vim-fugitive']
#
#[[plugins]]
#repo = 'shumphrey/fugitive-gitlab.vim'
#on_source = ['vim-fugitive']
#
#[ Diff Wrapper ]
#[[plugins]]
#repo = 'arkwright/vim-manhunt'
#on_event = 'BufRead'
#hook_post_source = 'runtime add/manhunt.vim'

#[[plugins]]
#repo = 'junegunn/gv.vim'
#type = 'git'
#on_ft = ['fugitive', 'gitcommit', 'git']
#hook_post_source = 'runtime add/gv.vim'

[[plugins]]
repo = 'rhysd/committia.vim'
# Doesn't work on Neovim without manual set of variables, $GIT_DIR and so on.
on_func = ['committia#open']
on_ft = ['fugitive', 'gitcommit', 'git']
hook_source = 'runtime source/committia.vim'
