extends emmet

snippet font-family: "default font family" b
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
endsnippet

snippet margin-top
margin-block-start
endsnippet
snippet margin-left
margin-inline-end
endsnippet
snippet margin-right
margin-inline-start
endsnippet
snippet margin-end
margin-block-end
endsnippet
