snippet \' "\'$1\'" i
\'${VISUAL}\'
endsnippet

snippet \" "Enclose with escaped double quotes" i
\"${VISUAL}\"
endsnippet

snippet \) "\($1\)" i
\(${VISUAL}\)
endsnippet

snippet \> "\<$1\>" i
\<${VISUAL}\>
endsnippet
