snippet 'fix?' "fix($1): $2" br
fix($1): $2
endsnippet

snippet f! "feat!($1): $2" b
feat!($1): $2
endsnippet

snippet f "feat($1): $2" b
feat($1): $2
endsnippet

snippet r "refactor($1): $2" b
refactor($1): $2
endsnippet

snippet p "perf($1): $2" b
perf($1): $2
endsnippet

snippet c "chore($1): $2" b
chore($1): $2
endsnippet

snippet s "style($1): $2" b
style($1): $2
endsnippet

snippet d "docs($1): $2" b
docs($1): $2
endsnippet

snippet t "test($1): $2" b
test($1): $2
endsnippet
