snippet 'local vim' "local _G.vim" b
local vim = _G.vim
endsnippet

snippet enable "enable = true" b
enable = true,
endsnippet

snippet treesitter "Set up treesitter's config" b
require'nvim-treesitter.configs'.setup {
  $1,
}
endsnippet
