extends sh

snippet mode "mode $1 {$2}" b
mode \$$1 {
    bindsym $2

    bindsym Ctrl+C             mode default
    bindsym Ctrl+bracketleft   mode default
    bindsym $Super+bracketleft mode default
}
endsnippet
