snippet '&[12]|2>(&1)?' "2>&1" rw
2>&1
endsnippet

snippet '>/(dev(/(null)?)?)?' "discard both stdout & stderr" wr
>/dev/null 2>&1
endsnippet

snippet SCRIPT_DIR "Get current dir the script running" b
SCRIPT_DIR=$(readlink -f "\$0" | xargs dirname)
endsnippet
