
priority -20

snippet '^([a-z?]+)' "conventional commits" "snip.line == 0" bre
`!p
m = match.group(1)
WIP = 'WIP: ' if '?' in m else ''
COMMIT_TYPE = re.sub('\?', '', m)

snip.rv = WIP + COMMIT_TYPE

`(${1:scope}): ${2:description}

${3}

${4}
endsnippet
