
priority -20

snippet '^([a-z]+)(W?)' "conventional commits" "snip.line == 0" bre
`!p
WIP = 'WIP: ' if match.group(2) else ''
COMMIT_TYPE = match.group(1)

snip.rv = WIP + COMMIT_TYPE

`(${1:scope}): ${2:description}

${3}
endsnippet
