# Orig: adriaanzon/vim-emmet-ultisnips

snippet < "<${1:foo bar=baz}>$2</foo>" i
<${1:tagName}${2: attr}>
  ${2:${VISUAL:content}}
</${1/\s+.*//g}>
endsnippet

snippet > "<foo>$0</foo>" i
>$0</`!v matchstr(getline(search('<\w*\%(.*\n\)\{-}.*\%#', 'bnW')), '<\zs\w\+')`>
endsnippet


priority -10

snippet '([a-zA-Z.!@#[]\S*)' "emmet" br
`!p
import emmet # depends 'emmetio/py-emmet'

m = match.group(1)
data = emmet.extract(m)
snip.rv = emmet.expand(data.abbreviation)
`
endsnippet

