extends javascript

snippet <> "<>$1</>" b
<>${1:jsx}</>
endsnippet

snippet margin-top
margin-block-start
endsnippet
snippet margin-left
margin-inline-end
endsnippet
snippet margin-right
margin-inline-start
endsnippet
snippet margin-end
margin-block-end
endsnippet
