extends vim

snippet Describe "[themis] new scope for a suite block" b
Describe ${1:Unit name}
End
endsnippet

snippet Context "[themis] optional suite block " b
Context ${1:Context for following tests}
End
endsnippet

snippet It "[themis] describe a test" b
It ${1:expects something}
End
endsnippet

snippet After "[themis]" b
After ${1:each}
End
endsnippet

snippet Before "[themis]" b
Before ${1:each}
End
endsnippet
